<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
    {%- block title %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script/utils.js"></script>
    <script src="script/wenlin.js"></script>

    <link href="style/main.css" rel="stylesheet" type="text/css"/>
    <link href="style/colors.css" rel="stylesheet" type="text/css"/>
    
    {%- block scripts %} {% endblock %}
  </head>
  <body>
    {%- block body %} {% endblock %}

    <h3>Все списки ханьцзы</h3>
    <h5>Китай</h5>
    <ul>
       <li><a href="index.html">2600 иероглифов HSK</a></li>
       <li><a href="china_main.html">3500 основных иероглифов из списка Правительства КНР</a></li>
       <li><a href="china_rest.html">3000 дополнительных иероглифов из списка Правительства КНР</a></li>
       <li><a href="china_name.html">1605 иероглифов имен собственных из списка Правительства КНР</a></li>
       <li><a href="wenlin.html">3800 иероглифов Wenlin</a></li>
     </ul>
    <h5>Тайвань</h5>
    <ul>
       <li><a href="taiwan.html">4800 иероглифов официального списка Минобр Тайваня</a></li>
    </ul>
    <h5>Корпус китайского языка</h5>
    <ul>
       <li><a href="zhonghuayuwen-ancient.html">6K иероглифов древних текстов корпуса Zhonghuayuwen</a></li>
    </ul>
    <h5>Другие списки иероглифов</h5>
    <ul>
       <li><a href="http://hanzidb.org/">hanzidb.org списки</a></li>
    </ul>
  </body>
</html>