<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
    {%- block title %} {% endblock %}

    <script src="script/jquery-3.5.1.min.js"></script>
    <script src="script/utils.js"></script>
    <script src="script/wenlin.js"></script>

    <link href="style/main.css" rel="stylesheet" type="text/css"/>
    <link href="style/colors.css" rel="stylesheet" type="text/css"/>
  <!--  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet"> -->
  </head>
  <body>
    {%- block body %} {% endblock %}

    <h3>Все списки ханьцзы</h3>
    <h5>Китай</h5>
    <ul>
       <li><a href="index.html">2600 иероглифов HSK</a></li>
       <li><a href="government_main.html">3500 основных иероглифов из списка правительства КНР</a></li>
       <li><a href="government_rest.html">3000 добавочных иероглифов из списка правительства КНР</a></li>
       <li><a href="government_name.html">1600 иероглифов имен из списка правительства КНР</a></li>
       <li><a href="wenlin.html">3800 иероглифов Wenlin</a></li>
     </ul>
    <h5>Тайвань</h5>
    <ul>
       <li><a href="taiwan.html">4800 иероглифов официального списка Минобр Тайваня</a></li>
    </ul>
  </body>
</html>