
    <div >
        <input type="radio" id="cedict" name="dictionary" value="1"  />
        <label for="cedict">Слова из CC-CEDICT (en) (<a href="https://cc-cedict.org/editor/editor.php">?</a>)</label>

        <input type="radio" id="bkrs" name="dictionary" value="2" />
        <label for="bkrs">Определения из БКРС (<a href="https://bkrs.info/">?</a>)</label>

        <input type="radio" id="wenlin" name="dictionary" value="3" checked />
        <label for="wenlin">Определения из Wenlin (en) 
            (<a href="https://wenlin.com/">?</a>)
            (<a href="abbreviation.html">сокр-я</a>)
        </label>
    </div>