{% set lang="zh-Hans" %}
{% extends "base.template.html" %}

{% block title %}
    <title>4400 упрощенных иероглифов с мнемониками (ч.{{ current_page + 1 }})</title>

{% endblock %}

{%- block scripts %} 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="script/mnemohanzi.js"></script>

	<style>
	   .hanzi {
	      color: wheat;
	   }
	   
	   /* to hide/show text in quiz mode and override bootstrap !important  */
		.hidden, .hidden > *{
			color: transparent !important;
		}

    </style>
	
{% endblock %}

{% block body %}
	<div class="container" >
		<h1>4400 упрощенных иероглифов с мнемониками (часть {{ current_page + 1 }})</h1>
		<div>
			<span>4400 упрощенных иероглифов с мнемониками:</span>
			<ul>
				<li>Иероглиф</li>
				<li>Пиньинь</li>
				<li>Значение</li>
				<li>Ассоциация, мнемоника</li>
				<li>Этимология</li>
			</ul>
		</div>

		<ul class="nav my-3">
			{%for index in range(page_total) %}
			  <li class="nav-item">
			   {% if index == current_page %}
			      <a class="nav-link disabled" aria-disabled="true">
				{% else %}
				  <a class="nav-link active" aria-current="page" href="mnemohanzi-{{ index + 1 }}.html">
			   {% endif %}
			        Часть {{ index + 1 }}</a>
			  </li>
			{% endfor %}
		</ul>
		
		<div>
			<span>Режим обучения:</span>
			<div class="btn-group" role="group" aria-label="learning">
				  <input type="checkbox" class="btn-check" id="showHanzi" autocomplete="off" checked>
				  <label class="btn btn-outline-primary" for="showHanzi">Показать иероглифы</label>

				  <input type="checkbox" class="btn-check" id="showMeaning" autocomplete="off" checked>
				  <label class="btn btn-outline-primary" for="showMeaning">Показать значения</label>

				  <input type="checkbox" class="btn-check" id="showAssociation" autocomplete="off" checked>
				  <label class="btn btn-outline-primary" for="showAssociation">Показать ассоциации</label>
			</div>
		</div>

		<div>
		</div>
		<div class="container gx-0 mt-3">

			 {%- for entity in entities -%}
			 {% set  key_style = 'border border-info border-1 rounded-2' if entity.key_id else '' %}
			 {% set  group_start_style = 'border border-success border-top-2 border-end-0 border-bottom-0 border-start-0' if entity.is_prime or entity.is_second else '' %}
			 <div class="row my-2 {{group_start_style}}">
			     <div class=" col-1 gx-0 {{key_style}} hanzi_cell">
					{% if entity.key_id %}
						<div class=" small bg-info text-white text-center">{{entity.key_id}}</div>
					{%  endif %}
				   <span class="ms-1 fs-3 hanzi" lang="zh-Hans">{{ entity.hanzi }}</span>
				   {% if entity.pinyin %}
					   <span class="ms-1 small tone{{entity.tone_number}}">{{entity.pinyin}}</span>
				   {%  endif %}
				</div>
				<div class="col-11">
				   <div class="meaning">
					 <span>{{ entity.meaning }}</span>
				   </div>
				   {% if entity.assoc %}
				     <div class="association">
					    <span class="small text-secondary-emphasis  border border-1 rounded-2">联</span>
						<span class="text-secondary-emphasis">{{ entity.assoc }}</span>
					 </div>
				   {%  endif %}
				   {% if entity.etym %}
				     <div class="association">
					    <span class="small text-secondary-emphasis border border-1 rounded-2">源</span>
						<span class="text-secondary-emphasis">{{ entity.etym }}</span>
					 </div>
				   {%  endif %}
				</div>
			 </div>
			 
			 {%- endfor -%}
			 
		</div>
    </div>

{% endblock %}
